{% set base_class = figure.base_class|default('o-figure') %}
{% if figure %}
  <figure class="{{ bem(base_class, figure.element, figure.modifiers, figure.extra) }}">
    {% if figure.link.url %}
      <a class="{{ bem(base_class, 'link') }}" href="{{ figure.link.url }}" {{ attributes(figure.link.attributes) }}>
    {% endif %}
      {% include "@responsive-image" with figure %}
    {% if figure.link.url %}
      </a>
    {% endif %}
    {% if figure.image.caption %}
      <figcaption class="{{ bem(base_class, 'caption') }} o-small u-space--half--top">{{ figure.image.caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
