{% set block_class = button.block_class|default('o-button') %}
{% set button_tag = 'button' %}
{% if button.url %}
  {% set button_tag = 'a' %}
{% endif %}
{% if button.modifiers %}
  {% set button_modifiers = [button.modifiers] %}
{% else %}
  {% set button_modifiers = [] %}
{% endif %}
{% if button.icon_left %}
  {% set button_modifiers = button_modifiers|merge(['icon-left']) %}
{% endif %}
{% if button.icon_right %}
  {% set button_modifiers = button_modifiers|merge(['icon-right']) %}
{% endif %}
{% if button.url or button.text or button.icon_left or button.icon_right %}
  <{{ button_tag }} role="button" class="{{ bem(block_class, button.element, button_modifiers, button.extra) }}" {{ button.url ? 'href="' ~ button.url ~ '"' }} {{ button.target == '_blank' ? ' target="_blank" rel="noreferrer"' }} {{ attributes(button.attributes) }}>
    {% include "@icon" with button.icon_left %}
    {% if button.text %}
      <span>{{ button.text }}</span>
    {% endif %}
    {% include "@icon" with button.icon_right %}
  </{{ button_tag }}>
{% endif %}
