{% set base_class = radio.base_class|default('o-radio') %}
{% if radio.name and radio.label %}
  <div class="{{ bem(base_class, radio.element, radio.modifiers, radio.extra) }} o-form__item">
    <input id="{{ radio.name }}" name="{{ radio.name }}" type="radio"{% if radio.checked %} checked="checked"{% endif %} {{ attributes(radio.attributes) }}>
    <label for="{{ radio.name }}">{{ radio.label }}</label>
  </div>
{% endif %}
